@import "../../variables";

.section {
  display: flex;
  flex-direction: row;
  background-color: gold;
  height: 240px;
  width: 100%;
  margin-top: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;

  &-middle {
    width: 50%;
    height: 480px;
  }

}