@import "../../variables";

.section {
  display: flex;
  flex-direction: row;
  background-color: rgba($color-quartz, .8);
  height: 400px;
  width: 100%;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;

  &-middle {
    width: 50%;
    height: 700px;
  }

  &-light {
    background-color: rgba($color-steel-teal, .8);
  }

}