$color-steel-teal: #598392;
$color-ash-grey: #AEC3B0;
$color-beige: #EFF6E0;
$color-quartz: #494850;
$color-gunmetal: #2C2C34;
$color-opera-mauve: #B185A7;
$color-pomp-and-powder: #8D6B94;

$dark-border-1px: 1px solid $color-gunmetal;
$dark-border-2px: 2px solid $color-gunmetal;

$border-radius-primary: 5px;